<div class="container">
  <div class="col-10 mx-auto">
    <h4 class="mb-5"><span class="smoke">　商品新規登録　</span></h4>
    <div class="container">
      <div class="col-sm-12 col-md-10 col-lg-10 px-4 mx-auto ">
        <%= form_with model: @item, url: admin_items_path, local: true do |f| %>

        <div class="form-group">
          <div class="row">
            <label class="col-4">商品画像</label>
            <div class="col-7">
              <%= f.file_field :image,accept: "image/*", placeholder:"ファイルを選択" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-4">商品名</label>
            <div class="col-7">
              <%= f.text_field :name, :class => "form-control name-form", autofocus: true, autocomplete: "name", placeholder:"商品名", style: "width:100%" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-4">商品説明</label>
            <div class="col-7">
              <%= f.text_area :introduction, rows:'5', :class => "form-control introduction-form", placeholder:"ここに説明文を記述します", style: "width:100%" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-4">ジャンル</label>
            <div class="col-7">
              <%= f.select :genre_id, [['--選択してください--', 0],['ケーキ', 1],['プリン', 2],['焼き菓子', 3],['キャンディ', 4]], :class => "form-control genre-form" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-4">税抜価格</label>
            <div class="col-7">
              <%= f.text_field :price, :class => "form-control price-form", placeholder:"１０００" %>
            </div>
            <p>円</p>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <label class="col-4">販売ステータス</label>
            <div class="col-7">
              <div>
                <%= f.radio_button :is_active, true, checked: true %>
                <%= f.label :done, '販売中', value: true %>

                <%= f.radio_button :is_active, false %>
                <%= f.label :done, '販売停止中', value: false %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3 mx-auto">
            <%= f.submit "新規登録" ,class:'btn btn-success' %>
          </div>
        </div>

        <% end %>

      </div>
    </div>

  </div>

</div>

