<div class="container">
  <div class="row col-sm-12">
    <div class="col-4 pr-1">
      <table class="border">
        <thead>
          <tr align="center">
            <th>ジャンル検索</th>
          </tr>
        </thead>

        <tbody>
          <% @genre.each do |genre| %>
            <tr>
              <td>
                <%= genre.name %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>

    </div>
    <div class="col-8">
      <div class="row">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要となります。<br>
        </p>
      </div>

      <div class="row">
        <h2>新着商品</h2>
      </div>


      <div class = "container">
        <div class = "row">
          <% @items.each do |item| %>
          <div class="col-3">
            <div class = "row">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image %>
              <% end %>
            </div>
            <div class = "row"><%= item.name %></div>
            <div class = "row">¥<%= item.price.to_s(:delimited) %></div>
          </div>
        <% end %>
        </div>
      </div>


      <div class="row justify-content-end">
        <div class="col-5">
          <%#= paginate @items %>
          <%= link_to "全ての商品を見る >", "/items" %>
        </div>
      </div>
    </div>
  </div>
</div>