<div class="container">
  <div class="row col-sm-12">
    <div class="col-2">
      <table class="w-100">
        <thead>
          <tr align="center">
            <th class="border_bottom">ジャンル検索</th>
          </tr>
        </thead>

        <tbody>
          <% @genre.each do |genre| %>
            <tr class="no_border_bottom">
              <td class="no_border_bottom">
                <%= genre.name %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>

    </div>
    <div class="col-8">

      <div class="main-image">
        <div class="bg-on-dark">
          <p class="white">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要となります。<br>
          </p>
        </div>
      </div>


      <div class="row">
        <h3><strong>新着商品</strong></h3>
      </div>


      <div class = "container">
        <div class = "row">
          <% @items.each do |item| %>
          <div class="col-3">
            <div class = "row">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image %>
              <% end %>
            </div>
            <div class = "row"><%= item.name %></div>
            <div class = "row">¥<%= item.price.to_s(:delimited) %></div>
          </div>
          <% end %>
        </div>
        <div class="row justify-content-end">
          <%= link_to "全ての商品を見る >", "/items" %>
        </div>
      </div>
    </div>
  </div>
</div>