<div class="container">
  <div class="col-12 mx-auto ">
    <h4 class="ml-5 mb-3"><span class="smoke">注文履歴詳細</span></h4>

    <div class="customer-group">
      <div class="row">
        <label class="col-2"><strong>購入者</strong></label>
        <div class="col-7">
          <%= @order.customer.last_name %> <%= @order.customer.first_name %>
        </div>
      </div>

      <div class="row">
        <label class="col-2"><strong>注文日</strong></label>
        <div class="col-7">
          <%= @order.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>

      <div class="row">
        <label class="col-2"><strong>配送先</strong></label>
        <div class="col-7">
          〒<%= @order.shipping_postalcode %>
          <%= @order.shipping_address %><br>
          <%= @order.shipping_name %>
        </div>
      </div>

      <div class="row">
        <label class="col-2"><strong>支払方法</strong></label>
        <div class="col-7">
          <%= @order.payment_method_i18n %>
        </div>
      </div>

      <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
      <div class="row">
        <label class="col-2 my-auto"><strong>注文ステータス</strong></label>
        <div class="col-2 my-auto">
          <%= f.select :order_status, Order.order_statuses.keys.map {|k| [t("enums.order.order_status.#{k}"), k] } %>
        </div>
        <div class="col-2 my-auto">
          <%= f.submit "更新" ,class:'btn btn-success' %>
        </div>
      </div>
      <% end %>

    </div>

    <div class="row mt-5">
      <div class="col-8">
        <table class="table1 w-100">
          <thead>
            <tr class="smoke">
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @order.order_detail.each do |order_detail| %>
              <tr>
                <td>
                  <%= order_detail.item.name %>
                </td>
                <td>
                  <%= order_detail.price_including_tax.to_s(:delimited) %>
                </td>
                <td>
                  <%= order_detail.amount %>
                </td>
                <td>
                  <%= (order_detail.price_including_tax * order_detail.amount).to_s(:delimited) %>
                </td>
                <td class="pr-3">
                  <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
                    <%= f.select :production_status, @order.order_detail.production_statuses.keys.map {|k| [t("enums.order_detail.production_status.#{k}"), k] } %>
                  <%# end %>
                </td>
                <td>
                  <%#= form_with model: order_detail, url: admin_order_detail_path(@order.id), method: :patch do |f| %>
                    <%= f.hidden_field :order_id %>
                    <%= f.hidden_field :item_id %>
                    <%= f.submit "更新" ,class:'btn btn-success' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>

      <div class="col-3 mt-auto">
        <div class="row">
          <label class="col"><strong>商品合計</strong></label>
          <div class="text-right">
            <%= @total.to_s(:delimited) %>円
          </div>
        </div>

        <div class="row">
          <label class="col"><strong>送料</strong></label>
          <div class="text-right">
            <%= @order.shipping_charge.to_s(:delimited) %>円
          </div>
        </div>

        <div class="row">
          <label class="col"><strong>請求金額合計</strong></label>
          <div class="text-right">
            <strong><%= @order.amount.to_s(:delimited) %>円</strong>
          </div>
        </div>
      </div>
    </div>




  </div>


</div>