<div class="container">
  <div class="col-11 mx-auto">
    <div class="row mx-auto">
      <h4>注文履歴一覧</h4>
    </div>


    <div class="row mx-auto">

      <table class="border w-100">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @order.each do |order| %>
            <tr>
              <td>
                <%= order.created_at.strftime('%Y/%m/%d') %>
              </td>
              <td>
                <%= "〒" + order.shipping_postalcode %><br>
                <%= order.shipping_address %><br>
                <%= order.shipping_name %>
              </td>
              <td>
                <%# @order_items.each do |item| %>
                <% order.order_detail.each do |order_details| %>
                  <%= order_details.item.name %><br>
                <% end %>
              </td>

              <td>
                <%= order.amount.to_s(:delimited) %>円
              </td>

              <td>
                <%= order.order_status_i18n %>
              </td>

              <td align="center">
                <%= link_to " 表示する ", order_path(order.id), class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>

    </div>
  </div>
</div>