<%= form_with model: @customer, url: customer_session_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="container">
    <div class="col-10 mx-auto">
      <h4><span class="smoke">　ログイン　</span></h4>
    </div>
  </div>

  <div class="container">
    <div class="col-9 mx-auto">
      <p><span class="smoke">　会員の方はこちらからログイン　</span></p>

      <div class="col-sm-11 mx-auto">

        <div class="login-form">
          <div class="row">
            <label class="col-4">メールアドレス</label>
            <div class="col-8">
              <%= f.text_field :email, placeholder:"sample@example.com", size: 40 %>
            </div>
          </div>
        </div>

        <div class="login-form">
          <div class="row">
            <label class="col-4">パスワード</label>
            <div class="col-8">
              <%= f.password_field :password, size: 40 %>
            </div>
          </div>
        </div>

        <div class="actions">
          <div class="row">
            <label class="col-4"></label>
            <div class="col-8">
              <%= f.submit "ログイン" ,class:'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <p><span class="smoke">　会員登録がお済みでない方　</span></p>
      <div class = "col-7">
        <p class="text-center"><span class="customer_registration"><%= link_to 'こちら',  new_customer_session_path %></span>から新規登録を行ってください。</p>
      </div>


    </div>

  </div>

<% end %>



