<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/176bf841c5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="row col-sm-12">

            <div class="col-5 my-auto">
              <div class="row">
                <div class="col-4 logo-box">
                  <a class="navbar-logo" href="/">
                    <i>Nagano<br>cake</i>
                  </a>
                </div>
                <div class="col-8 my-auto">
                  <% if customer_signed_in? %>
                  <p class="my-auto float-right navbar-brand">ようこそ、<%= current_customer.last_name %>さん！</p>
                  <% end %>
                </div>

              </div>
            </div>
            <div class="col-7">
              <div class="row justify-content-end">
                <div class="navbar-nav">
                  <ul class="btn-group">
                    <% if admin_signed_in? %>
                      <%= link_to "/items" do %>
                        <button type="button" class="btn btn-light"> 商品一覧 </button>
                      <% end %>

                      <%= link_to "/admin/customers" do %>
                        <button type="button" class="btn btn-light"> 会員一覧 </button>
                      <% end %>

                      <%= link_to "/admin/orders/:id" do %>
                        <button type="button" class="btn btn-light"> 注文履歴一覧 </button>
                      <% end %>

                      <%= link_to "/admin/genres" do %>
                        <button type="button" class="btn btn-light"> ジャンル一覧 </button>
                      <% end %>

                      <%= link_to "/admin/sign_out", method: :delete do %>
                        <button type="button" class="btn btn-light"> ログアウト </button>
                      <% end %>

                    <% elsif customer_signed_in? %>
                      <%= link_to "/customers/my_page" do %>
                        <button type="button" class="btn btn-light"> マイページ </button>
                      <% end %>

                      <%= link_to "/items" do %>
                        <button type="button" class="btn btn-light"> 商品一覧 </button>
                      <% end %>

                      <%= link_to "/cart_items" do %>
                        <button type="button" class="btn btn-light"> カート </button>
                      <% end %>

                      <%= link_to "/customers/sign_out", method: :delete do %>
                        <button type="button" class="btn btn-light" > ログアウト </button>
                      <% end %>

                    <% else %>
                      <%= link_to "/about" do %>
                        <button type="button" class="btn btn-light"> About </button>
                      <% end %>

                      <%= link_to "/items" do %>
                        <button type="button" class="btn btn-light"> 商品一覧 </button>
                      <% end %>

                      <%= link_to "/customers/sign_up" do %>
                        <button type="button" class="btn btn-light"> 新規登録 </button>
                      <% end %>

                      <%= link_to "/customers/sign_in" do %>
                        <button type="button" class="btn btn-light"> ログイン </button>
                      <% end %>

                    <% end %>
                  </ul>
                </div>
              </div>

              <div class="row justify-content-end">
                <form class="form-box">
                  <input class="form-input" type="search" placeholder="Search">
                  <button class="form-button" type="submit"><i class="fas fa-search"></i></button>
                </form>

              </div>

            </div>
          </div>
        </div>




    </header>
    <main>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
