<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/176bf841c5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <div class="row col-sm-12">

            <div class="col-5 my-auto">
              <div class="row">
                <div class="col-4 my-auto">
                  <a class="navbar-brand" href="/"><h2> LOGO </h2></a>
                </div>
                <div class="col-8 my-auto">
                  <% if customer_signed_in? %>
                  <p class="my-auto float-right navbar-brand">ようこそ、<%= current_customer.last_name %>さん！</p>
                  <% end %>
                </div>

              </div>
            </div>
            <div class="col-7">
              <div class="row justify-content-end">
                <div class="navbar-nav">
                  <ul class="btn-group">
                    <% if admin_signed_in? %>
                      <%= link_to "/items" do %>
                        <button type="button" class="btn btn-outline-secondary"> 商品一覧 </button>
                      <% end %>

                      <%= link_to "/admin/customers" do %>
                        <button type="button" class="btn btn-outline-secondary"> 会員一覧 </button>
                      <% end %>

                      <%= link_to "/admin/orders/:id" do %>
                        <button type="button" class="btn btn-outline-secondary"> 注文履歴一覧 </button>
                      <% end %>

                      <%= link_to "/admin/genres" do %>
                        <button type="button" class="btn btn-outline-secondary"> ジャンル一覧 </button>
                      <% end %>

                      <%= link_to "/admin/sign_out", method: :delete do %>
                        <button type="button" class="btn btn-outline-secondary"> ログアウト </button>
                      <% end %>

                    <% elsif customer_signed_in? %>
                      <%= link_to "/customers/my_page" do %>
                        <button type="button" class="btn btn-outline-secondary"> マイページ </button>
                      <% end %>

                      <%= link_to "/items" do %>
                        <button type="button" class="btn btn-outline-secondary"> 商品一覧 </button>
                      <% end %>

                      <%= link_to "/cart_items" do %>
                        <button type="button" class="btn btn-outline-secondary"> カート </button>
                      <% end %>

                      <%= link_to "/customers/sign_out", method: :delete do %>
                        <button type="button" class="btn btn-outline-secondary" > ログアウト </button>
                      <% end %>

                    <% else %>
                      <%= link_to "/about" do %>
                        <button type="button" class="btn btn-outline-secondary"> About </button>
                      <% end %>

                      <%= link_to "/items" do %>
                        <button type="button" class="btn btn-outline-secondary"> 商品一覧 </button>
                      <% end %>

                      <%= link_to "/customers/sign_up" do %>
                        <button type="button" class="btn btn-outline-secondary"> 新規登録 </button>
                      <% end %>

                      <%= link_to "/customers/sign_in" do %>
                        <button type="button" class="btn btn-outline-secondary"> ログイン </button>
                      <% end %>

                    <% end %>
                  </ul>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="input-group col-5">
                  <input type="text" class="form-control" placeholder="キーワードを入力">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>




    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRigth Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
